extends layout
block content
    header
        h1.title #{breadCrumbs[breadCrumbs.length - 1].name}
    main 
        div.breadcrumbs
            a.breadcrumbs__link(href='/') branches
            span.breadcrumbs__arrow →
            a.breadcrumbs__link(href=`/${branch}`) branch "#{branch}"
            if commit
                span.breadcrumbs__arrow →
                a.breadcrumbs__link(href=`/${branch}/${commit.hash}`) commit "#{commit.hash}"
            for breadCrumb in breadCrumbs
                span.breadcrumbs__arrow →
                a.breadcrumbs__link(href=`/${branch}/${commit ? commit.hash + '/' : ''}?path=${breadCrumb.hash}`) #{breadCrumb.name}
        div.content #{fileContent}
